/* * {
    box-sizing: border-box;
}

:root {
    --text-color-one: hsl(228, 12%, 48%);
    --price-color: hsl(158, 36%, 37%);
}

body {
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}
.product {
    background-color: white;
    margin: 3rem 1rem;
    border-radius: 1rem;
    width: 375px;

}

.product__info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.product__image {
    background-image: url(./images/image-product-mobile.jpg);
    height: 300px;
    background-size: cover;
    border-radius: 16px 16px 0 0;

}

.product__type {
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    color: var(--text-color-one);
}

.product__title {
    font-family: "Fraunces", sans-serif;
}

.product__description {
    font-family:'Montserrat', sans-serif;
    color: var(--text-color-one);
}

.product__price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actual-price {
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    color:var(--price-color);
}

.previous-price {
    font-family:'Montserrat', sans-serif;
    color: var(--text-color-one);
    text-decoration: line-through;
}

.page-button {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--price-color);
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    color: white;
} */

/* Això de dalt és el que vaig fer jo. A partir d'aquí, copio el codi de l'Òscar al corregir-ho a classe perquè és el dia que vaig arribar tard perquè vaig anar a urgències (infecció d'orina) */

:root {
    --neutral-grey: hsl(228, 12%, 48%);
    --primary-cyan: hsl(158, 36%, 37%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product {
    width: 370px;
    background-color: white;
    border-radius: 1rem;
}

.product__image {
    background-image: url('./images/image-product-mobile.jpg');
    height: 300px;
    background-size: cover;
    border-radius: 16px 16px 0 0;
}

.product__type {
    letter-spacing: 5px;
    color: var(--neutral-grey);
    text-transform: uppercase;
}

.product__description {
    line-height: 1.5rem;
    color: var(--neutral-grey);
}

.product__price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actual-price {
    font-size: 2rem;
    font-family: 'Fraunces';
    color: var(--primary-cyan);
}

.previous-price {
    color: var(--neutral-grey);
    text-decoration: line-through;
}

.product__info {
    padding: 1rem;
    /* siempre usar rem o píxeles */
}

.page-button {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--price-color);
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    color: white;
    border: 1px solid var(--primary-cyan);
    border-radius: 5px;
    background-color: var(--primary-cyan);
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 0.8rem 0.5rem;
    margin: 10px 0;
    width: 100%;
}

/* Aquest últim troç de .page-button he barrejat el que vaig posar jo i el que va posar l'Òscar perquè sinó no quedava bé, repassar-ho tot perquè ell ha posat diferents noms als colors, per exemple. */

/** Añadir una media query para cuando el viewport es mayor de 400px, entonces tiene que pasar */

/** 1. Hay que aplicar flex al div del product, en dirección row 
2. Posiblemente tendréis que ajustar otros valores del contenedor
*/

@media (min-width: 746px) {
    .product {
        display: flex;
        width: 600px;
        height: 500px;
        border-radius: 16px;

    }

    .product__image {
        height: auto;
        width: 300px;
        border-radius: 16px 0 0 16px;
        background-position: center;
        background-image: url(./images/image-product-desktop.jpg);
    }

    .product__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }

}